<md-content ng-controller="facilitiesController">
  <md-content ng-controller='meanController'>
    <body id="top" class="index container" >
          <nav flex layout-xs="column" layout="row" class="navbar navbar-default navbar-fixed-top" >
              <div flex class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div flex class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
                              <span class="sr-only">Ocultar/Desplegar Menu</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                      <a class="navbar-brand pointer" ng-click="gotoTop()">Perros Negros</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling 
                          I just remove the collapese class in the next div to make it responsive -->
                  <div flex  class="collapse navbar-collapse " id="navegacion-fm">
                      <ul class="nav navbar-nav navbar-right" >
                          <li class="nav-item">
                              <a  class="pointer" ng-click="gotoAbout()" >Quienes Somos</a>
                          </li>
                          <li class="nav-item">
                              <a  class="pointer" ng-click="gotoFacilities()">Instalaciones</a>
                          </li >
                          <li class="nav-item" >
                              <a class="pointer" ng-click="gotoCategory()">Categorias</a>
                          </li>
                          <li class="nav-item">
                              <a class="pointer"  href="Galeria/index.html">Album</a>
                          </li>
                          <li class="nav-item">
                              <a class="pointer" ng-click="gotoEvent()">Eventos</a>
                          </li>
                          <li class="nav-item">
                              <a class="pointer" ng-click="gotoContact()">Contacto</a>
                          </li>
                          <li class="nav-item">
                              <a class="pointer" ng-click="gotoNoticePrivacy()">Aviso de Privacidad</a>
                          </li>
                          <li class="dropdown nav-item">
                              <md-button class="md-icon-button md-primary  dropdown-toggle " data-toggle="dropdown">
                                  <md-icon class="material-icons">account_circle</md-icon>
                              </md-button>
                              <ul class="nav navbar-nav dropdown-menu"> 
                                  <li><a ng-click="login()" role="button" ><font color="orange">Iniciar Sesión</font></a></li>
                                  <li class="divider"></li>
                                  <li><a ng-click="signIn()"><font color="orange">Registrarse</font></a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <!-- /.navbar-collapse -->
              </div>
              <!-- /.container-fluid -->
          </nav>
      <!-- Facilities Section -->
        <section id="facilities" class="bg-light-gray">
           <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">INSTALACIONES</h2>
                            <div class="slogan">
                                <img src="images/Slogan.png">
                            </div>
                            <h3 class="section-subheading text-muted">Dejando Huella</h3>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div flex flex-xs flex-gt-xs="auto" layout="column" id="autumnF">
                            <md-card>
                                <md-card-header>
                                    <md-card-header-text style="opacity: 0.8; ">
                                        <span class="md-title">Excelentes Instalaciones.</span>
                                        <span class="md-subhead"></span>
                                    </md-card-header-text>
                                </md-card-header>
                            <div class="btn-group">
                                     <img ng-src="images/Instalaciones/MAPA.jpg" class="md-card-image img-responsive">
                                     <div class="hero-0">
                                      <button class="btn btn-hero-0 btn-xs" role="button" ng-click="showEntre($event)">1</button>
                                    </div>
                                    <div class="hero-1">
                                      <button class="btn btn-hero-1 btn-xs" role="button" ng-click="showPS($event)">2</button>
                                    </div>
                                    <div class="hero-2">
                                      <button class="btn btn-hero-2 btn-xs" role="button" ng-click="showPN($event)">3</button>
                                    </div>
                                    <div class="hero-3">
                                      <button class="btn btn-hero-3 btn-xs" role="button" ng-click="showTL($event)">4</button>
                                    </div>
                                    <div class="hero-4">
                                      <button class="btn btn-hero-4 btn-xs" role="button" ng-click="showPalcoS($event)">5</button>
                                    </div>
                                    <div class="hero-5">
                                      <button class="btn btn-hero-5 btn-xs" role="button" ng-click="showBTL($event)">6</button>
                                    </div>
                                     <div class="hero-6">
                                      <button class="btn btn-hero-6 btn-xs" role="button" ng-click="showVE($event)">7</button>
                                    </div>
                                     <div class="hero-7">
                                      <button class="btn btn-hero-7 btn-xs" role="button" ng-click="showTV($event)">8</button>
                                    </div>
                                     <div class="hero-8">
                                      <button class="btn btn-hero-8 btn-xs" role="button" ng-click="showME($event)">9</button>
                                    </div>
                                     <div class="hero-9">
                                      <button class="btn btn-hero-9 btn-xs" role="button" ng-click="showCA($event)">10</button>
                                    </div>
                                    <div class="hero-10">
                                      <button class="btn btn-hero-10 btn-xs" role="button" ng-click="showSer($event)">11</button>
                                    </div>
                                    <div class="hero-11">
                                      <button class="btn btn-hero-11 btn-xs" role="button" ng-click="showGim($event)">12</button>
                                    </div>
                                    <div class="hero-12">
                                      <button class="btn btn-hero-12 btn-xs" role="button" ng-click="showPal($event)">13</button>
                                    </div>
                                    <div class="hero-13">
                                      <button class="btn btn-hero-13 btn-xs" role="button" ng-click="showBB($event)">14</button>
                                    </div>
                                    <div class="hero-14">
                                      <button class="btn btn-hero-14 btn-xs" role="button" ng-click="showAU($event)">15</button>
                                    </div>
                                     <div class="hero-15">
                                      <button class="btn btn-hero-15 btn-xs" role="button" ng-click="showCF($event)">16</button>
                                    </div>
                                    <div class="hero-16">
                                      <button class="btn btn-hero-16 btn-xs" role="button" ng-click="showBO($event)">17</button>
                                    </div>
                                    <div class="hero-17">
                                      <button class="btn btn-hero-17 btn-xs" role="button" ng-click="showAA($event)">18</button>
                                    </div>
                                    <div class="hero-18">
                                      <button class="btn btn-hero-18 btn-xs" role="button" ng-click="showFJ($event)">19</button>
                                    </div>
                                    <div class="hero-19">
                                      <button class="btn btn-hero-19 btn-xs" role="button" ng-click="showCB($event)">20</button>
                                    </div>
                                     <div class="hero-20">
                                      <button class="btn btn-hero-20 btn-xs" role="button" ng-click="showBV($event)">21</button>
                                    </div>
                                </div>
                                    <md-card-title style="opacity: 0.7; ">
                                        <md-card-title-text>
                                            <span class="md-subhead">"TODO LOGRO EMPIEZA CON LA DECISIÓN DE INTENTARLO".</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                     <md-card-footer>
                                    Perros Negros Naucalpan. 
                                    </md-card-footer>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <!--Footer of page-->
    <footer class="container">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright pull-left">Copyright© 2015 Club Naucalpan FootBall, A.C. All rights reserved</span>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                      <li class="social-buttons-twitter"><a href="#" class="fa fa-twitter"></a>
                      </li>
                      <li class="social-buttons-facebook"><a href="https://www.facebook.com/perrosnegros.naucalpan.1/?fref=ts" class="fa fa-facebook"></a>
                      </li>
                      <li class="social-buttons-linkedin"><a href="#" class="fa fa-linkedin"></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 pull-right">
                  <ul class="list-inline quicklinks">
                      <li><a ng-click="gotoNoticePrivacy()"><font color="black">Aviso de Privacidad</font></a>
                      </li>
                      <li><a ng-click="showAdvanced($event)"><font color="black">Terminos y Condiciones</font></a>
                      </li>
                  </ul> 
              </div>
          </div>
      </div>
    </footer>
  </md-content>
</md-content>