<md-content ng-controller="meanController" layout="column" layout-xs="column" >
<body id="top" class="index container" flex>
    <nav flex layout-xs="column" layout="row" class="navbar navbar-default navbar-fixed-top" >
            <div flex class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div flex class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
                            <span class="sr-only">Ocultar/Desplegar Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand pointer" ng-click="gotoTop()">Perros Negros</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling 
                        I just remove the collapese class in the next div to make it responsive -->
                <div flex  class="collapse navbar-collapse " id="navegacion-fm">
                    <ul class="nav navbar-nav navbar-right" >
                        <li class="nav-item">
                            <a  class="pointer" ng-click="gotoAbout()" >Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a  class="pointer" ng-click="gotoFacilities()">Instalaciones</a>
                        </li >
                        <li class="nav-item" >
                            <a class="pointer " ng-click="gotoCategory()">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="pointer"  href="Galeria/index.html">Album</a>
                        </li>
                        <li class="nav-item">
                            <a class="pointer" ng-click="gotoEvent()">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="pointer" ng-click="gotoContact()">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="pointer" ng-click="gotoNoticePrivacy()">Aviso de Privacidad</a>
                        </li>
                        <li class="dropdown nav-item">
                            <md-button class="md-icon-button md-primary  dropdown-toggle " data-toggle="dropdown">
                                <md-icon class="material-icons">account_circle</md-icon>
                            </md-button>
                            <ul class="nav navbar-nav dropdown-menu"> 
                                <li><a ng-click="login()" role="button" ><font color="orange">Iniciar Sesión</font></a></li>
                                <li class="divider"></li>
                                <li><a ng-click="signIn()" role="button"><font color="orange">Registrarse</font></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
    </nav>
    <div class="header">
    <!--CAROUSEL HEADER-->
        <div class="carousel fade-carousel slide " data-ride="carousel" data-interval="4000" id="bs-carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#bs-carousel" data-slide-to="1"></li>
                <li data-target="#bs-carousel" data-slide-to="2"></li>
                <li data-target="#bs-carousel" data-slide-to="3"></li>
                <li data-target="#bs-carousel" data-slide-to="4"></li>
                <li data-target="#bs-carousel" data-slide-to="5"></li>
                <li data-target="#bs-carousel" data-slide-to="6"></li>
                <li data-target="#bs-carousel" data-slide-to="7"></li>
                <li data-target="#bs-carousel" data-slide-to="8"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="fade-image">
                        <img src="css/img/header-bg.jpg" style="width:100%; height:100%; padding:none;">
                    </div>
                    <div class="head-div">
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()" role="button">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img src="images/eventos/evento7.jpg" style="width:100%; height:100%; padding:none;">
                    </div>
                    <div class="head-div">        
                        <hgroup>
                            <h1>¡Pasión y entrega!</h1>        
                        </hgroup>       
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento5.jpg" style="width:100%; height:100%; padding-top:50px; ">
                    </div>
                    <div class="head-div">        
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento1.jpg" style="width:70%; height:100%; padding-top:50px; ">
                    </div>
                    <div class="head-div">        
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento6.jpg" style="width:80%; height:100%; padding-top:50px;">
                    </div>
                    <div class="head-div">        
                        <hgroup>
                            <h2>¡Formando campeones!</h2>        
                        </hgroup>       
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento2.jpg" style="width:70%; height:100%; padding-top:50px; ">
                    </div>
                    <div class="head-div">        
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento8.jpg" style="width:80%; height:100%; padding-top:50px;">
                    </div>
                    <div class="head-div">        
                        <hgroup>
                            <h1>¡Vivo!</h1>        
                        </hgroup>       
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento4.jpg" style="width:90%; height:100%; padding-top:50px; ">
                    </div>
                    <div class="head-div">        
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
                <div class="item slides">
                    <div class="fade-image">
                        <img  src="images/eventos/evento3.jpg" style="width:90%; height:100%; padding-top:50px; ">
                    </div>
                    <div class="head-div">        
                        <button class="btn btn-head-div btn-lg" ng-click="gotoAbout()">Cuéntame Más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--Footer Page-->
<footer class="container" flex>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright pull-left">Copyright© 2015 Club Naucalpan FootBall, A.C. All rights reserved</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="social-buttons-twitter"><a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li class="social-buttons-facebook"><a href="https://www.facebook.com/perrosnegros.naucalpan.1/?fref=ts" class="fa fa-facebook"></a>
                    </li>
                    <li class="social-buttons-linkedin"><a href="#" class="fa fa-linkedin"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 pull-right">
                <ul class="list-inline quicklinks">
                    <li><a ng-click="gotoNoticePrivacy()"><font color="black">Aviso de Privacidad</font></a>
                    </li>
                    <li><a href="#" ng-click="showAdvanced($event)"><font color="black">Terminos y Condiciones</font></a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</footer>
</md-content>

